/*******************************************************************************
 *
 * $RESETS
 *
 ******************************************************************************/


*
{
  cursor: default;
  box-sizing: border-box;
}

input, select, textarea
{
  cursor: auto;
}

html, input, select, textarea, button, legend
{
  font: caption;
  color: inherit;
}

html, body
{
  border: 0;
  padding: 0;
  margin: 0;
}

html
{
  line-height: 1em;
  overflow: hidden;
}

body
{
  /* (i) If background color was set for HTML the background color for BODY
   * would not take effect. Not sure why this is. (Tested only in IE10.)
   */
  color: WindowText;
  background: ThreeDFace;
}


/*******************************************************************************
 *
 * $CONTROL
 *
 ******************************************************************************/


.disabled
{
  opacity: 0.5;
}


/*******************************************************************************
 *
 * $CONTAINER
 *
 ******************************************************************************/


.container
{
  position: relative;
  overflow: hidden;
}


/*******************************************************************************
 *
 * $BUTTON
 *
 ******************************************************************************/

button
{
  /*line-height: 1em;*/
}