/*******************************************************************************
 *
 * $RESETS
 *
 ******************************************************************************/


*
{
  cursor: default;
  box-sizing: border-box;
}

input, select, textarea
{
  cursor: auto;
}

html, input, select, textarea, button
{
  font: caption;
}

html, body
{
  border: 0;
  padding: 0;
  margin: 0;
}

html
{
  line-height: 1em;
  color: WindowText;
  background: ThreeDFace;
}


/*******************************************************************************
 *
 * $CONTROL
 *
 ******************************************************************************/


.disabled
{
  opacity: 0.5;
}


/*******************************************************************************
 *
 * $BUTTON
 *
 ******************************************************************************/

button
{
  /*line-height: 1em;*/
}